{% block header %}
  <!-- Responsive Design -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style type="text/css">
    @-ms-viewport{
      height: device-height;
      width: device-width;
    }
  </style>

<title>{% block title %} xBEAR Admin Blogs  {% endblock %}</title>

{% endblock %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<meta http-equiv="X-UA-Compatible" content="IE-9"/>

</head>

{% block content %}
<body>
  <ul class="Nav-bar">
    <p class="title"> Community Blogs </p>
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link disabled" id="color" href="#" tabindex="-1" aria-disabled="true">Hello {{request.user}}</a>
      </li>
  </ul>

<style type="text/css">
#color{
  color: #fff;
}  
</style>

  <!-- <span class="post">
  {% for i in communityPost %}
      <tr id="style_post">
        <hr />
        <td class="user" onclick="profile_Warn">{{request.user}}</td>
        <hr />
        <td>{{i.title}}</td>
        <hr />
        <td>{{i.description}}</td>
        <button class="btn btn-danger"><a  id="del" href="{% url 'delete' i.id %}">Delete</a></button>
      </tr>
  {% endfor %}
  </span> -->

<div class="post1">
  {% for post in admin_posts %}
    <div class="jumbotron">
      <h1 class="display-4">{{post.title}}</h1>
      <p>{{post.date_posted}}</p>
      <hr class="my-4">
      <p class="lead">{{post.admins_info}}</p>
    </div>
  {% endfor %}

<!-- Styles and Scripts Below -->

<style type="text/css">

  *{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: #000;

}

/* Posts Styling */
.post{
  display: block;
  text-align: center;
  border: 1px solid #000;
}

.post1{
  float: center;
  text-align: center;
  height: auto;
  width: 60%;
}

@media stock and (max-width: device-width) {
  body {
     width: 60%;
  }
}

.stock{
  float: center;
  text-align: center;
  height: auto;
}

.class user{
  cursor: pointer;
}

.style_post{
  float: center;
  text-align: center;
  display: block;
  border: 1px solid #000;
}

#del{
  color: #fff;
}

#del:hover{
  text-decoration: none;
}

/* Navigation Bar */

body{
  background: #fff;
  overflow: scroll;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  transition: 0.6s ease;
}

.nav-item{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  transition: 0.6s ease;
  color: #fff;
}

li {
  float: right;
  transition: 0.6s ease;
}

.nav-item{
  float: right;
  color: #fff;
  transition: 0.6s ease;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2vw;
  transition: 0.6s ease;
}

.nav-item{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2vw;
  transition: 0.6s ease;
}

li a:hover {
  background-color: #fff;
  color: black;
  font-size: 3vw;
  transition: 0.6s ease;
}

li a.active{
  background-color: #fff;
  color: black;
  font-size: 1vw;
  transition: 0.6s ease;
}

.title{
  float: left;
  display: inline;
  color: #fff;
  font-size: 3vw;
}


</style>


{% endblock %}