{% load static %}
{% block content %}
<head>
	<meta id="view" name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE-9"/>

    <style type="text/css">
    @-ms-viewport{
      height: device-height;
      width: device-width;
    }
  </style>
</head>

<body>
	<div class="container">
		<form action="" method="POST">
			{% csrf_token %}
			<h1>Are you sure you want to delete this post?</h1>
			<input type="submit" name="Confirm">
			<button type="button" class="btn btn-secondary"><a href="/community">Cancel</a></button>
			<style type="text/css">
				.container{
					float: center;
					text-align: center;
				}
				a{
					color: #000;
					text-decoration: none;
				}
			</style>
		</form>
	</div>
</body>
{% endblock %}